<!DOCTYPE html>
<html lang="en">
  

    <!-- to bring in a partial we will use include -->
    <%- include("../partials/head/_head", {page: "Events"}) %> 

    

  <body class="has-navbar-fixed-top">
    <!-- https://bulma.io/documentation/components/navbar/#fixed-navbar -->
    

    <%- include("../partials/nav/_nav", { routes }) %> 
  </body>  
</html>