<nav
  class="navbar is-dark is-fixed-top"
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <a class="navbar-item" href="/events"> All Events </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <!-- links  -->
  <div class="navbar-menu navbar-end">
    <% if(typeof user !== 'undefined'){ %>
    <p class="navbar-item"><%= user.username %></p>
    <% } %>
    <!-- render routes -->
    <% routes.forEach(route => { %>

    <a class="navbar-item" href="<%= route.href %>"> <%= route.title %> </a>

    <% }) %>
  </div>
</nav>
